<div class="m-5">
  <h1>Task</h1>
  <h2><%= @task.title %></h2>
  <p><%= @task.details %></p>
  <p>Completed <%= @task.completed %></p>

  <%= link_to "â†º Back to all tasks", tasks_path %>
  <%= link_to "âœ Edit the task", edit_task_path %>
</div>
